wikipedia-dump = "/path/to/wikidump"
pages = "/path/to/links"
redirects = "/path/to/redirects"
titles = "/path/to/titles"
filtered-redirects = "/path/to/redirects"
pages-with-redirects = "/path/to/file"

database = "data/index.db"
graph = "data/graph.bin"
